.benefits {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 64px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-top: 60px;
        max-width: 237px;
        text-align: center;
    }
    &__subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0d0d0d;
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }    
        }
    }
}

@media (max-width: 991px) {
    .benefits {
        padding: 70px 15px 64px;;
    }
}

@media (max-width: 767px) {
    .benefits {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 35px;
            max-width: 400px;
        }
        &__subtitle {
            font-size: 20px;    
        }
    }
}

@media (max-width: 575px) {
    .benefits {
        padding: 40px 15px;
    }    
}