.carousel {
    padding: 81px 0;
    &__inner {
        // position: relative;
        width: 750px;
        margin: 0 auto;   
    }
    [data-controls="prev"], [data-controls="next"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border: none;
        outline: transparent;
        background-color: transparent;
        z-index: 1;
        img {
            width: 31px;
            height: 50px;
        }
    }
    [data-controls="next"] {
        right: 0;
        left: auto;
    }
    .carousel__wrapper {
        position: relative;
    }
    .tns-horizontal.tns-subpixel>.tns-item {
        vertical-align: middle;
        img {
            width: 79%;
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 576px) {
    .carousel {
        [data-controls="prev"], [data-controls="next"] {
            height: 100%;
            img {
                height: 35px;
            }
        }
    }    
}