.feed {
    padding: 0 0 60px;
    &__item {
        display: flex;
        justify-content: center;
        margin-top: 60px;    
    }
    &__thumbnail {
        width: 169px;
        height: 169px;
        margin-right: 60px;
        border-radius: 100%;
    }
    &__text {
        max-width: 680px;
        color: #0d0d0d;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
    }
    &__achievements {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .feed {
        padding: 0 10px 30px;
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__thumbnail {
            margin-right: 0;
        }
        &__text {
            max-width: 540px;
        }
        &__name {
            text-align: center;
            margin-top: 8px;
        }
        &__achievements {
            text-align: center;    
        }
    }
}