.promo {
    min-height: 650px;
    padding: 21px 0 93px;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        margin: 0;
        font-weight: 700;
        font-size: 42px;
        text-align: right;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subheader {
        margin: 17px 0 0;
        font-weight: 500;
        font-size: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__icons {
        margin-top: 60px;
        width: 424px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        img {
            display: block;
            margin: 0 auto 20px;
            height: 42px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        margin-top: 18px;
        a {
            color: #ffffff;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__wrapper {
            align-items: center;    
        }
    }
}

@media (max-width: 575px) {
    .promo {
        min-height: 540px;
        padding-bottom: 40px;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 14px;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 12px;    
        }
        &__button {
            width: 250px;
            height: 45px;
            font-size: 13px;
        }
        &__link {
            font-size: 13px;
        }
    }
}