.title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #fff;
        text-align: left;
        max-width: 780px;
        line-height: 54px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 23px;
    }
}